.nav-container {
    display: flex;
    justify-content: center;
}

.navbar {
    //pos
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    //100% width size
    width: 81vw;
    padding: 0 9.5vw 0 9.5vw;
    //const height
    height: 7.7vh;
    //flex
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background: linear-gradient(0.25turn, #e6e7eb, #e4e5e9, #e3e4e8);
}

.navbar .left {
    justify-items: flex-start;
    align-self: center;

    img {
        width: 13vw;
    }
}

.navbar .right {
    justify-items: flex-end;
    align-self: center;
    padding: 0;
    width: 27vw;
    text-align: center;
    display: flex;

    a {
        height: 2vh;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
        color: black;
        font-size: 0.8vw;
        padding: 1.4vh 0 1.4vh 2vw;
        margin: 1vh 0 1vh 0;
    }

    a:hover{
        color: gray;
    }

    .before-sign {
        padding-right: 2vw;
    }

    .sign-button {
        border-left: .05vw solid #d1d1d1;
    }
}