header {
    //pos
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    background: linear-gradient(0.25turn, #e6e7eb, #e4e5e9, #e3e4e8);
    z-index: 1;

    [class="container"] {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        justify-items: flex-start;
        align-self: center;

        img {
            width: 185px;
        }
    }

    .navbar {
        justify-items: flex-end;
        align-self: center;
        padding: 0;
        text-align: center;
        display: flex;

        a {
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 600;
            color: black;
            font-size: 0.8em;
            padding: 15px;
        }

        a:hover {
            color: gray;
        }

        .before-sign {
            padding-right: 24px;
        }

        .sign-button {
            padding-left: 24px;
            border-left: 1px solid #d1d1d1;
        }
    }
}