footer {
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: #323232;

    .nav-container {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 48px;

        img {
            max-width: 88px;
            margin: 15px;
        }

        a {
            font-size: .8em;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            font-weight: 500;
            margin: 18px;
        }
    }

    .copyright {
        font-size: 1em;
        background-color: #272727;
        color: white;
        font-weight: 200;
    }
}