@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

.link {
  text-decoration: underline;
  color: #4DADBB;
}

.green {
  color: #0E7200;
}

.font {
  font-family: "Raleway", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6e8eb;
  color: #484848;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
  text-align: left;
}

* {
  box-sizing: border-box;
}